<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="serverUrl" value="ws://192.168.1.197:2014" />-->
    <!--<add key="serverUrl" value="ws://114.55.248.163:2014" />-->
    <add key="serverUrl" value="ws://114.55.248.163:2014" />
    <add key="startPoint" value="400,200" />
  </appSettings>
</configuration>